/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;

}
  
/* Style the links inside the navigation bar */
.topnav .link {
    float: right;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav .link:hover {
    background-color: #ddd;
    color: black;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

.button {
    float: right;
    margin: auto;
}